
    .navbar-brand {
      font-weight: bold;
      font-size: 1.5rem;
      color: #fff !important;
      letter-spacing: 2px;
    }
    .navbar-nav .nav-link {
      color: #fff !important;
      margin-left: 15px;
      font-weight: 500;
      transition: color 0.3s ease;
    }
    .nav-link:hover {
 color: rgb(214, 145, 17);
}

    /* Cards */
    .card img {
      height: 220px;
      object-fit: cover;
    }
    .card:hover {
      transform: scale(1.03);
      transition: 0.3s ease;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }
    .card .row img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.card .row {
  justify-content: center;
  gap: 8px;
}

    /* Footer */
    